html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background-color: #eee;
}
.material-shadow{
  box-shadow: 0 1px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23), inset 1px 1px 0 rgba(0,0,0,.1);
}

nav{
  margin-bottom: 0;
  background-color: #fff;
  height: 75px;
  transition: .3s all;
}

.navbar-brand{
  font-size: 25px;
  transition: .3s all;
}

header{
  background: linear-gradient(to bottom right, #4acaa8, #4fbdd6 );
  height: 100vh;
  width: 100%;
  text-align: center;
  padding: 50px;
  font-family: 'Montserrat', sans-serif;
  display: table;
  padding-top: 100px;
  position: relative;
}

header h1{
  font-size: 5rem;
  margin: 15px;
  color: #fff;
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
}

header .material-icons{
    position: absolute;
    font-size: 130px;
    font-weight: bold;
    color: #fff;
    bottom: 6%;
    width: 100%;
    right: 0;
    text-align: center;
    cursor: pointer;
    transition: .3s all;
}

header .material-icons:hover{
  color: #93f6ff;
}

section{
  margin: 50px 0px;
  width: 100%;

}
.sectionheader{
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  margin-bottom: 25px;
  width: 100%;
  color: #1565C0;

}
#sections{
  min-height: 250px;
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
}

#sections .section{
  background-color: #fff;
  height: 350px;
  width: 100%;
  display: table;
  margin: 0 auto;
  color: #222;
  text-decoration: none;
  transition: .3s all;
  padding: 15px;
}

#sections .section:hover{
  opacity: .85;
}

#sections .section h2{
  display: table-cell;
  color: #fff;
  font-weight: bold;
  font-size: 50px;
  vertical-align: middle;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.sectionswrapper{
  display:flex;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  background-color: #fff;
}

.individual-wrapper{
  display: inline-flex;
  margin: 0 auto;
  width: 50%;
}

.individual-wrapper:nth-last-child(1):nth-child(odd){
  width: 100%;
}
#feed{
  min-height: 300px;
  padding: 15px;
}

nav .navbar-toggler{
  position: absolute;
  right: 5%;
}
nav{
  margin-bottom: 50px;
}
.post{
  width: 80%;
  max-width: 900px;
  background-color: #fff;
  min-height: 250px;
  display: block;
  margin: 30px auto;
  padding: 25px 20px;
}
.post .title{
  display: block;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  color: #1565C0;
  text-align: center;
}

.post img{
  max-width: 75%;
  margin: 0 auto;
  margin-bottom: 15px;
  display: block;
}

.post .date{
  margin-top: 5px;
  font-size: 16px;
  font-style: italic;
  color: #222;
  text-align: center;
  margin-bottom: 25px;
  font-weight: normal;
}


.post .line{
  height: 0px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 10%;
}

.post .preview{
  width: 70%;
  display: block;
  margin: 0 auto;
}

.post .link{
  width: 150px;
  height: 50px;
  background-color: #4acaa8;
  display: table;
  border-radius: 4px;
  transition: .3s all;
  margin: 25px;
  margin-left: 45px;
}
.post .link p{
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  color: #fff;
}
.post .link:hover{
  text-decoration: none;
  background-color: #44b395;
}


.articlewrapper{
  width: 80%;
  max-width: 1200px;
  display: block;
  margin: 25px auto;
  margin-top: 100px;

}
.articletitle{
    background: linear-gradient(to bottom right, #4acaa8, #4fbdd6 );
    text-align: center;
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
    display: table;
    width: 100%;
}

.articlewrapper .articletitle-wrapper{
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  font-weight: bold;
}
.articlewrapper h1{
    font-size: 3rem;
    color: #fff;
    font-weight: bold;
}

.articlebody{
  margin-bottom: 25px;
  background-color: #fff;
  padding: 25px 45px;
}

.articlebody h1{
  font-size: 40px;
  font-weight: 600;
  color: #222;
}

.articlebody h2{
  font-size: 38px;
}

.articlebody p{
  overflow-wrap: break-word;
}

.articlebody .tags{
  list-style: none;
  padding: 0;
  display: block;
  margin: 5px auto;
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
}

.articlebody .tags a{
  background-color: #4acaa8;
  display: inline-block;
  border-radius: 25px;
  padding: 6px 10px;
  color: #fff;
  margin: 5px;
  transition: .3s all;
}

.articlebody .tags a:hover{
  background-color: #44b395;
  text-decoration: none;
}


.articlebody img{
  max-width: 80%;
  display: block;
  margin: 15px auto;
}

.articlebody twitter-widget{
  display: block;
  margin: 15px auto;
}

.articlebody pre{
  background-color: #f7f7f9;
  color: #bd4147;
  padding: 5px;
}

#sectionpage{
  padding: 45px 25px;
  margin-top: 50px;
}

@media(max-width: 768px){

  nav{
    height: unset !important;
  }

  nav .navbar-brand{
    font-size: 20px !important;
  }
  .individual-wrapper{
    width: 100%;
    margin: 0;
  }
  #sections .section{
    margin: 0;
    padding: 0;
    height: 250px;
  }
  .articlewrapper{
    width: 100%;
  }
  .articlebody{
    width: 100%;
  }
  .articletitle{
    width: 100%;
  }
  .post{
    width: 100%;
  }
  .post .link{
    margin: 25px auto;
    float: none;
  }
  header{
    height: 100vh;
  }
}
