<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.tag | replace: '-', ' ' }} | {{site.site}}</title>
    {% include general.html %}
  </head>
  <body>
  <div class="container-fluid">
    {% include nav.html %}
    <div id="sectionpage">
      {% assign words = page.tag | split: '-'%}
      {% assign border_colour = 0 %}
      <h1 class="sectionheader">{{page.tag | replace: '-', ' ' }}</h1>
      <div class="blog-list">
        {% for post in site.categories[page.tag] %}
        <div class="post material-shadow">
          <h3 class="title">{{post.title}}</h3>
          <h4 class="date">{{post.date | date: "%-d %B, %Y"}}</h4>
          <div class="line" style="border: solid 1px hsl({{border_colour}},90%,50%)">

          </div>
          {% if post.img %}
            <img src="assets/images/{{post.img}}" alt="{{post.alt}}">
          {% endif %}
          <p class="preview">{{post.preview}}</p>
          <a class="link" href="{{post.url}}"><p>Read more</p></a>
        </div>
        {% assign border_colour = border_colour | plus: 60 %}
        {% endfor %}
      </div>
    </div>
  </div>
  <script src="{{'/js/scripts.js' | prepend: site.baseurl}}" charset="utf-8"></script>
  </body>
</html>
