<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    {% include general.html %}
  </head>
  <body>

    <header id="top">
      <h1>Joshua Fayer's Blog</h1>
    </header>

    <section id="sections">
      <div class="sectionswrapper">
        {% assign colour = 0 %}
        {% for category in site.categories %}
          <div class="individual-wrapper">
            <a style="background-color: hsl({{colour}},60%,50%)" href="/{{category | first | slugify: 'pretty'}}" class="section">
              <h2>{{category | first | replace: '-', ' '}}</h2>
            </a>
          </div>
        {% assign colour = colour | plus: 75 %}
        {% endfor %}
      </div>
    </section>
    <section id="feed">
      {% assign border_colour = 0 %}
      {% for post in site.posts limit:5 %}
        <div class="post" style=" box-shadow: 0px 0px 12px rgba(0,0,0,0.2),0 0px 12px hsl({{border_colour}},100%, 50%)">
          <h3 class="title">{{post.title}}</h3>
          <h4 class="date">{{post.date | date: "%-d %B, %Y"}}</h4>
          <p class="preview">{{post.preview}}</p>
          <a class="link" href="{{post.url}}"><p>Read more</p></a>
        </div>
        {% assign border_colour = border_colour | plus: 60 %}
      {% endfor %}
    </section>
  </body>
</html>
